Package: enigma2-plugin-extensions-worldcam
Version: 4.5
Section: extra
Priority: optional
Architecture: all
Maintainer: pcd@linuxsat-support, @lululla
Description: Enigma2 Plugin WorldCam by pcdys
Source: None
Homepage: worldcam
OE: worldcam
